/.phpcs-cache
/.phpunit.cache
/.psalm-cache
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
composer.lock
/data/
!/data/migrations/
data/backups/
/.idea/codeStyles/codeStyleConfig.xml
/logs/
/.env
/.idea
