:root {
    --brand-color: #013755;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated overview items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}

.form-label {
    font-weight: bold;
}

/*Datatable*/

#dataTable_wrapper {
    font-size: 12px !important;
}

#dataTable_wrapper th{
    text-align: center!important;
}

#dataTable_wrapper .btn{
    font-size: 12px !important;
}

#dataTable_wrapper .dt-layout-row:has(.active-sticky) {
    background: white;
    position: sticky;
    top: 0;
}

#dataTable_wrapper table thead tr {
    background: white;
    position: sticky;
    top: 18px;
}

.overlay-loading {
    display: none;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.overlay-loading .spinner-border {
    position: relative;
    top: 50%;
    left: 50%;
}

.select-product-custom {
    width: 400px !important;
}

.select-product-custom .select2-results__options {
    max-height: 400px !important;
}

.calculate-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.chart {
    width: 100%;
    height: 400px;
}

.flash-messages {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    font-size: 9px;
    font-weight: bold;
}

.flash-messages .alert {
    border-radius: 0;
}